version: 1
services:
  - type: web
    name: codeview-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 5000
      - key: NODE_ENV
        value: production
      - key: CLIENT_URL
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: JDOODLE_CLIENT_ID
        sync: false
      - key: JDOODLE_CLIENT_SECRET
        sync: false
